<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="/images/shortcut44.png" />
    <title>Log In | Therealworld</title>
    <link rel="stylesheet" href="/css/signup.css" />
  </head>
  <body>
    <div id="custom-loader">
      <div id="app-loader"></div>
    </div>

    <nav>
      <div class="navlinks">
        <a href="/">
          <img src="/images/fps_logo1.png" width="230" alt />
        </a>
        <div>
          <button onclick="location.href='/signup'">Sign Up</button>
        </div>
      </div>
    </nav>

    <main>
      <section>
        <div>
          <h3>Log In</h3>
        </div>

        <center>
          <% if (errorMessage) { %>
          <div class="user-message--error"><%= errorMessage %></div>
          <% } %>
        </center>

        <form action="/login" method="POST">
          <div>
            <label for="email">Email</label>
            <input
              type="text"
              name="email"
              id="email"
              placeholder="John@example.com"
              value="<%= oldInput.email %>"
            />
          </div>

          <div>
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="********"
              value="<%= oldInput.password %>"
            />
          </div>

          <div>
            <button type="submit">Log In</button>
          </div>

          <p><a href="/reset-password">Forgot Password?</a></p>
          <p>Don't have an account? <a href="/signup">Sign Up</a></p>
        </form>
      </section>
    </main>
  </body>
</html>
