<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <div>
      <img src="/images/shortcut44.png" alt="logo" width="230px">
    </div>
    <div class="m_-5828434108483856761mailbody">
      <h3>HI, <%= username %></h3>
      <p>Thank you for choosing Therealworld as your preferred trading platform.</p>
      <P>
        Your trading account has been successfully created. Make sure to keep your
        login details safe for future references. For safety and security, never share
        your login details or password with anyone.
      </P>
    </div>    
  </div>
</body>
</html>